@page
@model Project1UI.Pages.User.UserInfoModel
@{
}

<p>Person Info</p>

<div>
    post info
    <form method="post">
        <label asp-for="CurrentUser.nam"

    </form>

</div>

<div>
    <form method="get" asp-page="Index"></form>
    <input type="submit" />
</div>
